---
---

@import "{{ site.theme }}";


// Header button
.btn {
  display: inline-block;
  padding: .938em 1.875em;
  border: .094em solid #43464a;
  border-radius: .625em;
  background-color: #abb0ba;
  color: #43464a;
  text-decoration: none;
  text-transform: uppercase;
  cursor:pointer;
  font: bold 0.75rem sans-serif;
}

.btn-active {
  border: .094em solid #000000;
  background-color: #6e9ddb;
}

.btn:hover {
  background-color: #8fb7eb;
}

.blog-image-square {
  max-width: 400px;
}

.blog-image-terminal {
  max-width: 600px;
}

.inner {
  max-width: 1000px;
}

#header_wrap {
  background: #2756ba;
}

#footer_wrap {
  background: #2756ba;
}

body {
  background: #2756ba;
}

h3 {
  text-shadow: none !important;
}

h5 {
  text-shadow: none !important;
}