---
---

@import "{{ site.theme }}";


// Header button
.btn {
  color: rgba(0, 0, 0, 0.7);
  border-color: rgba(0, 0, 0, 0.2);

  &--active {
    background-color: darkgrey;
    border: inherit;
    color: white;

    &:focus,
    &:hover {
      background-color: darkgrey;
      border: inherit;
      color: white;
    }
  }
}
.btn:focus,
.btn:hover { color: rgba(255, 255, 255, 0.8); text-decoration: none; background-color: rgba(0, 0, 0, 0.5); border-color: rgba(255, 255, 255, 0.3); }
